@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
@import "mediaqueries.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/group-1/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}



.navbar {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 30px;
}

.Logo img{
height: 80px;
}

.navbar .menu {
  grid-column: 6 / 9;
  display: flex;
  margin-top: 12px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  position: relative;
  border-radius: 20px;
  margin-right: 3em;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 15px 15px;
}
.menu li a:hover {
  background-color: grey;
  transition: all 0.5s;
  color: #000;
}

.menu-bar {
  display: none;
}

/* Seccion Principal */

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.content-info {
  margin-top: 5em;
  color: #fff;
}

button a {
  cursor: pointer;
  color: rgb(181, 66, 66);
  text-decoration: none;
}


.btn-toBuy,
.read-more {
  background-color: grey;
  padding: 8px 40px;
  font-size: 1.2em;
  border-radius: 20px;
  border: none;
}

.read-more {
  background: none;
  border: 1px solid #fff;
  margin: 20px;
}

.read-more a:hover{
color: rgb(255, 255, 255);
transition: all 1,0s;
}


.btn-content {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}

.btn-content :hover{
  color: rgb(255, 255, 255);
  background-color: grey;
  transition-duration: .3s;
}

.main img {
  margin-top: 3em;
}

/* ABOUT SECTION */

.about h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.about .divider,
.products .divider {
  background-color: grey;
  width: 50px;
  height: 3px;
  margin: 0 auto;
}

.about .about-content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  display: flex;
  align-items: center;
}

.about-content img {
  width: 1000px;
  height: 600px;
}

.about-content2 img{
  width: 100px;
}

.about .about-info {
  margin: 4em;
}

.about .about-info h3 {
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* Seccion de Galeria*/

.products h2 {
  text-align: center;
  font-weight: bold;
}

.products .divider {
  margin-bottom: 8em;
}


.img-1 img {
width:300px;
height: 400px;
}

Article img:hover{
  box-shadow: 20px 6px 40px rgba(0, 0, 0, 0.549);
  transition: all 0.5s;
  width: 20rem;
  margin-top: 0.1rem;
  cursor: pointer;
  z-index: 50;
  transform: rotate(-2deg);
}


.img-2 img {
  width:300px;
height: 400px;
}

.img-3 img{
  width:300px;
  height: 400px;
}

.products .container-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-products-info,
.content-price,
.btn-content {
  display: flex;
  justify-content: center;
}

.content-product-info {
  display: flex;
  justify-content: center;
}

.content-product-info .stars {
  margin-right: 20px;
  text-align: center;
}
.content-product-info h4 {
  text-transform: uppercase;
  text-align: center;
}

.products .content-price .last-price {
  text-decoration: line-through;
  font-weight: lighter;
  margin-right: 20px;
}

.products .content-price .new-price {
  background-color: rgb(37, 35, 35);
  padding: 5px 10px;
  color: #fff;
}

.products .btn-product {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #000;
}

/* Seccion de Categprias*/

.topcategory-section{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 13rem;
}
.sec-title .separator{
  position: relative;
  display: block;
  width: 141px;
  height: 15px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.sec-title{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}
.sec-title h2{
  font-size: 3rem;
  font-size: 2em;
    margin-top: -6em;
  font-weight: 500;
}
.category-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 29rem;
}
.category-one img{
  width: 77%;
}
.category-one{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-one h5{
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 1rem;
  max-width: 120px;
  color: var(--black);
}
.category-one h5:hover{
  color: var(--red);
}


.dividor{
  background-color: grey;
  width: 50px;
  height: 3px;
  margin: 0 auto;
}


/* Seccion de SOPORTE */

.support {
  margin-top: 5em;
  background-color: #3f6b6bd6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.support h2 {
  color: #fff;
  font-size: 3em;
  font-weight: 300;
}

/* Seccion del Banner */

.banner {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  height: 100vh;
}

.banner .rating {
  grid-column: 3 / 4;
}
.banner .rating {
  text-align: center;
}

.banner .secundary-info {
  grid-column: 8 / 11;
}

.banner h2{
  text-align: center;
  font-weight: bold;
}

.secundary-info h2,
.secundary-info h3 {
  margin-bottom: 10px;
}

/*  Seccion del Footer */

.footer {
  background-color: #343B3C;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .menu li {
  margin-top: 20px;
}

.footer .social-network .fab {
  font-size: 1.8em;
  color: #000;
  margin: 10px;
}

.footer .social-network .fab:hover {
  color: grey;
}

@media only screen and (max-width: 600px) {
  .hero {
    overflow-x: hidden;
  }

  .navbar {
    background-color: #aa4f4f;
    height: 80px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.42);
    align-items: center;
  }
  .navbar h2 {
    font-size: 2em;
  }
  .navbar .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #b26e6e;
    height: 50vh;
    left: -1em;
    transform: translateY(-120%);
    transition: all 5.0s;
    z-index: 1;
  }
  .navbar .menu-toggle {
    transform: translateY(0%);
  }
  .menu li {
    margin-top: 3em;
  }
  .navbar .menu-bar {
    display: block;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
  }

  /* Seccion del Menu */

  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 70vh;
  }
  .main img {
    width: 12em;
  }
  .main h1 {
    margin-top: -80px;
  }
  .main .button-content {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }


  .about .about-content img {
    width: 300px;
    margin-top: 50px;
  }

  .about .about-content {
    flex-direction: column;
  }

  .about .about-content .about-info {
    margin-top: -10px;
    text-align: center;
  }

  /* Seccion de Galeria */

  .products .container-products {
    display: flex;
    flex-direction: column;
  }
  .products h2 {
    font-size: 2em;
    margin-top: 2em;
  }

  .products .container-products .btn-product {
    margin-bottom: 3em;
  }

  /* SUPPORT SECTION */

  .support {
    flex-direction: column;
    align-items: center;
  }

  .support .support-info h2 {
    font-size: 2em;
    font-weight: 500;
  }

  .support .support-info {
    text-align: center;
  }

  .support img {
    margin-top: 50px;
  }

  /* Seccion del Banner*/

  #banner {
    height: 50vh;
    background-position: center;
  }

  .banner .rating h2 {
    font-size: 2em;
  }

  .banner .secundary-info {
    display: flex;
  }

  /* Seccio del Footer */

  .footer {
    flex-direction: column-reverse;
  }

  .footer .social-network {
    margin: 2em;
  }
  .footer h3 {
    font-weight: lighter;
    margin-top: 1em;
    color: grey;
  }
}
